{% extends "login_base.html" %}
{% block content %}

<br><br><br><br><br><br>
<div class="pageheader">
	<span class="headline">possibiliT*</span><br><span class="tagline">Trans* as far as the eye can see</span>
</div>

<div class="loginerror">
	{% if form.errors %}
	<p style="color:red">Hmm, that's not the right username and password.<br /></p>
	{% endif %}
</div>

<div class="contentholder">
	<div id="loginbox">

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}

			<p>{{form.username.label}} {{form.username }}
			<p>{{form.password.label }} {{form.password }}
			<p><input type="submit" value="Log in"> <b>or</b>  <button name="next" type="button" onClick="location.href ='{% url "createprofile" %}'">Create a new profile</button>
</br>
			<input type="hidden" name="next" value="{{ next }}" />
			</form>
	</div>
</div>
	{% endblock %}
