{% extends "login_base.html" %}
{% block content %}

<div class="pageheader">
	<h2>PossibiliT*</h2>
	<p>Trans* as far as the eye can see</p>
</div>

<div class="loginerror">
	{% if form.errors %}
	<p style="color:red">Hmm, that's not the right username and password.<br /></p>
	{% endif %}
</div>

<div class="contentholder">
        <h3>Create a new account:</h3>
	<p><a href="{% url 'createprofile' %}" class="">Start your profile</a></p>

	<h3>Or log in to your existing profile:</h3>
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}

		<div id="loginbox">
			<p>{{form.username.label}} {{form.username }}
			<p>{{form.password.label }} {{form.password }}
			<p><input type="submit" value="Log in" class="btn btn-primary"></br>
			<input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>

	</div>
</div>
	{% endblock %}
