{% extends "login_base.html" %}
{% block content %}

<div class="pageheader">
	<div class="headline">Create Your Account</div>
	<div class="progressbar">
		<span class="tagline">Part 1 of 4 </span>
		<div class="progressbarinner"<ul><li class="done">&#8226;</li><li>&#8226;</li><li>&#8226;</li><li>&#8226;</li></ul></div>
	</div>

</div>

<div class="tagline">Basic info</div>

<br><br><form method="POST" action="{% url 'basic_info' %}">{% csrf_token %}

	{{ form.non_field_errors }}
	
	<div>
		<div class="fieldwrapper">Are you over 18? {{form.over18}} </div>

		<br><br><div class="fieldwrapper">When is your birthday (once you create your account, you can choose to hide or show this publicly)?
		<br><ul>{{form.birth_month}} {{form.birth_day}} {{form.birth_year}} </div></ul>

		<br><br><div class="fieldwrapper">Where do you live now?
		<p><ul>City {{form.city}} State {{form.state}} Zip {{form.zipcode}}</p> <p>Country {{form.country}}</p></ul> </div>
	</div>

    <br><br><input type="submit" name="next" value="Next section"></input>
</form>

{% endblock %}
