{% extends "login_base.html" %}
{% block content %}

<div class="pageheader">
	<div class="headline">Create Your Account</div>
	<div class="progressbar">
		<span class="tagline">Part 4 of 4 </span>
		<div class="progressbarinner"<ul><li class="done">&#8226;</li><li class="done">&#8226;</li><li class="done">&#8226;</li><li class="done">&#8226;</li></ul></div>
	</div>

</div>

<div class="tagline">You're almost done! Finish this step to create your account.</div>

<form class="createaccountform" method="POST" action="{% url 'create_account' %}">{% csrf_token %}


	{{ form.non_field_errors }}
	
	<div>
		<br><br><div class="fieldwrapper identity">Pick a username: {{form.username}} </div>

		<br><br><div class="fieldwrapper identity">Tell us an email address where we can contact you: {{form.email}} </div>

		<br><br><div class="fieldwrapper">Enter a password: {{form.password}} </div>

		<br><br><div class="fieldwrapper" identity>Retype that password: {{form.retypepassword}} </div>

	</div>



	<br><br><br><input type="submit" name="next" value="Next section"></input>
</form>


{% endblock %}
