{% extends "login_base.html" %}
{% block content %}

<div class="pageheader">
	<div class="headline">Create Your Account</div>
	<div class="progressbar">
		<span class="tagline">Part 2 of 4 </span>
		<div class="progressbarinner"<ul><li class="done">&#8226;</li><li class="done">&#8226;</li><li>&#8226;</li><li>&#8226;</li></ul></div>
	</div>

</div>

<div class="tagline">Tell us how you identify...</div>

<form class="identitiesform" method="POST" action="{% url 'identities' %}">{% csrf_token %}

	{{ form.non_field_errors }}
	
	<div>
		<br><br><div class="fieldwrapper identity">What's your gender? {{form.gender}} Are you out about this? {{form.outness_gender}} </div>

		<br><br><div class="fieldwrapper identity">What's your orientation? {{form.orientation}} Are you out about this? {{form.outness_orientation}} </div>

		<br><br><div class="fieldwrapper">Are you single? {{form.relationship_status}} </div>

		<br><br><div class="fieldwrapper" identity>What's your ethnicity? {{form.ethnicity}} </div>

	</div>


	<br><br><br><input type="submit" name="next" value="Next section"></input>
</form>

{% endblock %}
