
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PossibiliT* - Trans* as far as the eye can see</title>
		<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
	</head>

<body>

<div class="navbar">
   <ul class="nav">
	<li><a href="{% url 'django.contrib.auth.views.login' %}">Sign In</a></li>
   </ul>
</div>
<div class="navouter"> </div>
<div class="contentholder">
	{% block content %}{% endblock %}

<div id="footer">
	<div class="container">
		<p class="text-muted">&copy; 2014 PossibiliT*</p>
	</div>
</div>
</div>
</body>
</html>
